# Logs
*.log

# Dependency directories
node_modules/

# Environment variables
.env*

# Package testing files
*.tgz

# macOS system files
.DS_Store

# Generated OpenAPI server folder
openapi-mcp-server-generator/
